{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1>My Blog</h1>
        {% for po in post%}
            <div class="m-3 p-3 border">
                <h3>{{ po.title }}</h3><br/>
                <p>{{ po.content }}</p>
                <a href="{% url 'post_detail' post_id=po.id %}">
                    <div class="btn btn-warning" id="{{po.id}}">Read more</div>
                </a>
                {% if po.status %}
                <a href="{% url 'post_hide' post_id=po.id %}">
                    <div class="btn btn-danger" id="{{po.id}}">Hide post</div>
                </a>
                {% endif %}
                {% if not po.status %}
                <a href="{% url 'post_hide' post_id=po.id %}">
                    <div class="btn btn-primary" id="{{po.id}}">Publish post</div>
                </a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block footer %}
    Footer of classroom list page!!!
{% endblock %}
